{% extends 'base.html.twig' %}

{% block title %}Studio one - Form{% endblock %}

{% block body %}

<div class="container mt-5">

    {{ form_start(formulaire) }}

    {{ form_end(formulaire) }}

</div>

{% endblock %}